@charset "UTF-8";

.boxofficeContainer {
	text-align: center;
}

.boxContainer {
   position: relative;
    width: 500px;
    min-width: 200px;
    display: flex;
    text-align: left;
    margin: 20px 20px;
}
.boxImg {
	position: relative;
}

.boxPoster {
	margin-bottom: 40px;
}

.boxContent {
	position: absolute;
	top: 0;
	display: flex;
	background-color: black;
	opacity: 0.8;
	color: white;
	font-size: 15pt;
}

.boxTable {
	display: inline-block;
    flex-wrap: wrap;
    word-break: break-all;
    margin-left: 25px;
    /* display: table; */
    width: 300px;
}

.boxTitle {
	margin-bottom: 10px;
    border-bottom: 1px dashed #aaa;
    /* width: 490px; */
    border-bottom: 1px dashed #aaa;
}

.boxT {
	font-size: 20pt;
	font-weight: 600;
	/* width:200px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
}

.boxInfo {
	margin: 40px 0;
	border-bottom: 1px dashed #aaa;
}

.boxEtc {
	border-bottom: 1px dashed #aaa;
}

#date {
	width: 15vw;
	
}
#boxoffice{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.boxText {
	font-weight: 600;
	margin-right: 2.5rem;
}

.yearText {
	margin-right: 0.4rem;
}

.Text {
	margin-right: 0.9rem;
}
