.cal_top{
    text-align: center;
    font-size: 30px;
}
.cal{
    text-align: center;
    width: 100%;
    height: 280px;
}
table.calendar{
    border: 1px solid black;
    display: inline-table;
    text-align: left;
    width:45%;
    height: 280px;
}
table.calendar td{
    vertical-align: top;
    border: 1px solid skyblue;
}
