@charset "UTF-8";

a {
	text-decoration: none;
}

body {
	background-color: #101111;
	color: white;
}

#Container {
	margin-top: 25px;
	width: 100%;
}

#top {
	position: relative;
	display: flex;
	text-align: center;
	height: 55px;
}

#menus {
	height: 50px;
	display: flex;
	align-items: center;
	text-align: center;
	position: sticky;
	top: 0;
	background-color:#101111;

}



.mainMenu {
	font-size: 14pt;
	width: 25%;
}

.mainMenu>a {
	color: #a2a2a2;
	text-decoration: none;
}


.mainMenu > a:hover {
  color:white;

}
.btn1 {
	margin-right: 0%;
	margin-left: auto;
}

#content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	height: 700px;
	position: relative;
}

#searchInput{
	 background:url("../icon/icon.png") no-repeat right ; 
	 background-size: 30px;
	color:white;
	background-color:#101111;
	width:35vw;
	height:4.5vh;
	font-size:12pt;
	border:none;
	border-bottom:1px solid #ececec;
}


#mainIcon{
	
	width:3vw;

}

#mainIconDiv {
	position: absolute;
	left: 30px;
}

#searchDiv{
	border: 1px solid white;
	position:absolute;
	 margin-left:35vw; 

}
.page {
	margin-left: 600px;

}


.loginDiv {
	position:absolute;
	top:10px;
	right:50px;
	font-size:12pt;
	color:white;
	
}
.loginDiv> a{
	color:white;
	text-decoration:none;
}
.loginDiv> a:active{
	color:white;
	text-decoration:none;
}