@charset "UTF-8";

a {
	text-decoration: none;
}

body {
	background-color: #101111;
	color: white;
}

#Container {
	margin-top: 25px;
	width: 100%;
}

#top {
	position: relative;
	display: flex;
	text-align: center;
	height: 55px;
}

#menus {
	height: 50px;
	display: flex;
	align-items: center;
	text-align: center;
	position: sticky;
	top: 0;
}

.mainMenu {
	font-size: 14pt;
	width: 25%;
}

.mainMenu>a {
	color: #a2a2a2;
	text-decoration: none;
}

.mainMenu>a:hover {
	color: whitesmoke;
}

.btn1 {
	margin-right: 10%;
	margin-left: auto;
}

#content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	height: 700px;
}

#searchInput {
	background: url("../icon/icon.png") no-repeat right;
	background-size: 30px;
	color: white;
	background-color: #101111;
	width: 500px; 
	height : 40px;
	font-size: 12pt;
	border: none;
	border-bottom: 1px solid #ececec;
	height: 40px;
}

#mainIcon {
	width: 50px;
}

#mainIconDiv {
	position: absolute;
	left: 30px;
}

#searchDiv {
	position: absolute;
	left: 470px;
}