@charset "UTF-8";

body{
  color: lightgrey;
  background-color: #101111;
}
#Container {
  margin: 30px;
  width: 100%;
}

#top {
  border: 1px solid whitesmoke;
  display: flex;
  text-align: center;
  height: 40px;
}

#menus {
  border: 1px solid whitesmoke;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.mainMenu {
  font-size: 14pt;
  width: 25%;
}
.mainMenu > a {
  color: rgb(140, 139, 139);
  text-decoration: none;
}

.mainMenu > a:hover {
  color: whitesmoke;
}

.btn1 {
  margin-right: 10%;
  margin-left: auto;
}

#content {
  border: 1px solid whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 90%;
  height: 700px;
}
