@charset "UTF-8";

img {
	width: 200px;
	image-rendering: -webkit-optimize-contrast;
	transform: translateZ(0);
	backface-visibility: hidden;
}

#movie {
	display: flex;
	margin-bottom: 50px;
	margin-left:20px;
	
}

.searchTitle {
	font-size: 20pt;
	font-weight: 400;
}

.subTitle {
	font-size: 12pt;
}

.content {
	margin: 20px;
	margin-bottom: 50px;
	width:800px;
	
}

.etc {
	margin-top: 10px;
	border-top:1px dashed #808080;
	width:800px;
	padding-top:10px;


	
}


#searchResultContainer {
	margin: 15px;
}

.searchSpan{
	font-size:13pt;
	font-weight:500;
	margin-right:15px;
	margin-bottom:5px;
}

.searchRDiv{
	display:inline-block;
	font-size:11pt;
	
}
.searchSpanDiv{
	display:inline-block;
	margin-bottom:10px;
}


.searchActor{
display:inline-block;	
	width:250px;
	margin-top:5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	

}
