@charset "UTF-8";
.text{
    background-color:aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    height: auto;
    width: 500px;
    padding: 10px;
    color: black;
    font-size: 120%;
    text-align: center;
}
.name{
    font-size: 150%;
    position: relative;
    color:black;
    width:200px;
    color:white;
    height:50px;
    text-align: center;
}
.sign_up{
	color:white;
    width: 100px;
    height: 30px;
    background: rgb(94, 94, 94);
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}
.sign_up:active{
    background: rgb(213, 213, 213);
}
.sign_up:hover{
	color:black;
    background: rgb(234, 234, 234);
}


.container {
    padding-bottom: 2%;
    padding-top: 32px;
    width: 85%;
    margin-left: 300px;
    margin-right: auto;
}

.container2 {
    padding-bottom: 2%;
    padding-top: 32px;
    width: 70%;
    margin-left: 300px;
    margin-right: auto;
}

.loginT{
	font-size: 24px;
    color: aliceblue;
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    width: 60%;
    display: flex;
    align-self: center;
    margin-bottom: 14px;
    margin-left: 110px;
}

.button-container{
	text-align:center;
	margin-right: 70px;
}

.sign_in{
	width: 100px;
    height: 30px;
    background: skyblue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.sign_in:hover{
	background-color: #3c44ea;
	border-radius: 10px;
}

.idChkbt{
	width: 50px;
    height: 50px;
    background: #ffff80;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.idChkbt:hover{
	background-color: #bbb70f;
	border-radius: 10px;
}
