@charset "UTF-8";
.text{
    background-color:aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    color: black;
}
.name{
    font-size: 80%;
    position: relative;
}
.sign_up{
    width: 100px;
    height: 30px;
    background: greenyellow;
    border: 1px solid green;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}
.sign_up:active{
    background: green;
}
.sign_up:hover{
    background: green;
}
div{
    text-align: center;
}

.sign_in{
	width: 100px;
    height: 30px;
    background: skyblue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.sign_in:hover{
	background-color: #3c44ea;
	border-radius: 10px;
}